body{
    border: solid 2px rgb(12, 8, 8);
    border-collapse: collapse;
    text-size-adjust: 1px;
    height: 1250px;
    width: 500px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top:50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-bottom: 50px;
    padding-top: 1px;
    border-radius: 20px;
}



